{{ project_name }}
{{ '=' * project_name|length }}

{# TODO: set description #}
{{ description }}

Features
--------

.. todo:: TODO: insert features

Installation
------------

You can install **{{ project_name }}** using pip:

.. code-block:: bash

   pip install {{ org_name }}-{{ project_name }}

Usage
-----

{# TODO: if app set app_name #}

After installation, you can use the ``{{ project_name }}`` command to create a new project:

.. code-block:: bash

   {{ project_name }} 

.. todo:: TODO: list arguments

Dependencies
------------

**{{ project_name }}** depends on the following Python packages:

.. todo:: TODO: read from pyproject.toml 

Contributing
------------

Contributions are welcome! Please see our [GitHub issues](https://github.com/{{org_name}}/{{project_name}}/issues) for ways to contribute.

License
-------

**{{project_name}}** is licensed under the MIT License. See the `LICENSE` file for more details.

