{{ github_repo_id }}
{{ '=' * github_repo_id|length }}

{# TODO: set description #}
{{ description }}

Features
--------

.. todo:: TODO: insert features

Installation
------------

You can install **{{ github_repo_id }}** using pip:

.. code-block:: bash

   pip install {{ github_id }}-{{ github_repo_id }}

Usage
-----

{# TODO: if app set app_name #}

After installation, you can use the ``{{ github_repo_id }}`` command to create a new project:

.. code-block:: bash

   {{ github_repo_id }} 

.. todo:: TODO: list arguments

Dependencies
------------

**{{ github_repo_id }}** depends on the following Python packages:

.. todo:: TODO: read from pyproject.toml 

Contributing
------------

Contributions are welcome! Please see our [GitHub issues](https://github.com/{{github_id}}/{{github_repo_id}}/issues) for ways to contribute.

License
-------

**{{github_repo_id}}** is licensed under the MIT License. See the `LICENSE` file for more details.

