{% set module_path = package_namespace + '.' + package_name %}
{{ module_path }}
{{ '=' * module_path|length }}

.. automodule:: {{ module_path }}
   :members:
   :undoc-members:
   :show-inheritance:



