from ablog.conf import *
import {{ github_acct }}.{{ repo }} as module
version = module.__version__


org = "{{ github_acct }}"
org_name = "{{ github_acct_name }}"

repo = "{{ repo }}"
repo_name = "{{ repo_name }}"

setup_globals(org, org_name, repo, repo_name)

