from photon_platform.sphinxilator.global_conf import *
import {{ package_namespace }}.{{ package_name }} as module

version = module.__version__

org = "{{ github_id }}"
org_name = "{{ github_id }}"

repo = "{{ github_repo_id }}"
repo_name = "{{ github_repo_id }}"

setup_globals(org, org_name, repo, repo_name)

